div.animate, #typing {
    background-color:black;
    color:white;
    font-size: 40px;
    text-align: center;
    border-radius: 5px;
    position:fixed;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    z-index: -1;
}

.console-line
{
    font-family: monospace;
    margin: 2px;
}

#options {
	position: fixed;
	top: 0;
	right: 0;
	border-radius: 5px;
	padding: 25px;
	background-color: black;
	color: white;
    z-index: 1;
}
#speed {
    background-color: black;
    border: none;
    width: 90px;
    font-size: 30px;
}